@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    Layout = null;
}

@* the fun starts here *@


@Html.ActionLink("Contacts", "RenderEmail", " ContactSurface")
   <a href="/ContactSurface/RenderEmail">View product details</a>